/***
要素の配置、幅や高さを指定するクラス。
それぞれの要素固有のスタイル
ラッパーとしての幅や高さを決定するクラス

接頭辞として　l-をつける
***/

.l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 74px;
    padding: 0 120px;
    
}
.l-header-nav {
    display: flex;
    justify-content: space-between;
}







